/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}


:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

img {
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--slate300);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding:100px;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0);
  padding: 15px;
  max-width: 20rem;
  margin:100px;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h2 {
  color: var(--slate900);
  text-align: center;
  font-weight:700;
  font-size: 1.37rem;
  padding: 15px 10px;
}

p {
  color: var(--slate500);
  text-align: center;
  font-weight: 400;
  font-size: .95rem;
  padding: 0px 15px 25px 15px;
}
